<div class="about-page">
    <div id="mylife_introduction">
        <p>1</p>
    </div>

    <div id="how_to_mylife">
        <p>2</p>
    </div>
</div>








<!-- slick （一旦やめる）
    <script type="text/javascript">
        (function() {
            $(function() {
                $('.slick').slick({
                    autoplay: true,
                    dots: true
                });
            });
        })();
    </script>
-->