<div class="static-default-container">
    <div class="container" style="width:100%;">
        <h4>よくある質問</h4>

        <hr>

        <ul>
            <h5>非会員ユーザーとしての利用</h5>
            <li>ユーザーの一覧ページや、各ユーザーの歴史ページ、アンケート一覧ページのみ閲覧可能です。</li>
            <hr>
            <h5>会員登録に関して</h5>
            <li>アカウント名、メールアドレス、パスワードが必要です。</li>
            <li>アカウント名はサイト上で一意のものとなります。</li>
            <li>
                Facebook認証をご利用の場合は、Facebookにログインしている状態でFacebookで登録/ログインを押していただくと、初回会員登録時のみ
                Facebook上のページに遷移し、そこで認証していただくとアカウント名、メールアドレス、パスワードが自動で付与され、次回からFacebookで登録/ログイン
                を押すだけでログイン可能となります。
            </li>
            <li>Facebookで会員登録を行ったユーザーに、パスワードを求められることはありません。</li>
            <hr>
            <h5>プロフィールの編集に関して</h5>
            <li>アカウント名、メールアドレス、パスワード、ユーザー画像、ユーザータグの編集が可能です。</li>
            <li>タグは半角英字の「,」（カンマ）で区切ることで、３つまで登録可能です。タグ検索時に利用されます。</li>
            <li>Facebookで登録したユーザーは、プロフィール編集時現在のパスワードは必要ありません。また、パスワードの変更はできません。</li>
            <hr>
            <h5>検索機能に関して</h5>
            <li>アカウント名とタグのどちらかで登録ユーザーを検索することができます。</li>
            <hr>
            <h5>歴史に関して</h5>
            <li>歴史追加により自分の歴史を追加可能です。</li>
            <li>歴史追加時、主となる「出来事」を決め、そのときの「年齢」と「バロメーター」を設定します。</li>
            <li>「関連すること・もの」は、「出来事」に付随する情報を設定します。</li>
            <li>バロメーターは、その当時の自分の感情を１〜１００までで数値化したものとなります。（グラフに利用されます。）</li>
            <hr>
            <h5>ブックマークに関して</h5>
            <li>気に入った出来事を自分のプロフィールのブックマーク一覧からいつでも閲覧可能となります。</li>
            <hr>
            <h5>トーク機能に関して</h5>
            <li>
                各ユーザーの歴史一覧ページ上部に存在する、トークを始めるボタンからトークを開始できます。以降、プロフィールの
                トークルーム一覧からいつでもトーク可能です。
            </li>
            <hr>
            <h5>アンケート機能に関して</h5>
            <li>サイトヘッダー上のアンケートから一覧ページへ遷移します。</li>
            <li>アンケート一覧ページ下部にアンケート追加ページへのリンクが存在します。</li>
            <li>各ユーザーにつき５つまでアンケートを作成できます。</li>
            <li>アンケートへの投票は各選択肢に対して0~5まで投票できます。各アンケートの選択肢それぞれに対して投票することが出来ます。</li>
            <hr>
            <h5>退会に関して</h5>
            <li>プロフィールページ下部の”会員をやめる”から登録情報を削除し会員をやめる事ができます。</li>
            <li>会員をやめた場合、以後そのユーザーとしてのログインをすることはできなくなります。（同じ登録情報で再度会員登録は可能）</li>
        </ul>
    </div>
</div>