<div class="index-page">
    <div class="container">
        <% @users.each do |user| %>
            <div class="col-md-3 index-user">
                <p><%= user.name %></p>
                <p>画像</p>
                <p>タグ</p>
            </div>
        <% end %>
    </div>

    <%= paginate @users %>
</div>

