<div class="question-nested-fields nested-fields" style="width:65%; margin: 0 auto 10px;">
    <div class="row">
        <div class="col-md-9 col-md-offset-1 question-nest-field">
            <span class="question-item-label"><%= f.label :content, '選択肢' %></span>
            <%= f.text_field :content, placeholder:"84文字以内で入力してください。" %>
        </div>

        <div class="col-md-2 remove-question-item">
            <%= link_to_remove_association '消去', f %>
        </div>
    </div>
</div>