<div class="questionnaire-index">
    <div class="new-questionnaire-div">
        <%= link_to 'アンケート作成', new_questionnaire_path %>
    </div>

    <div class="questionnaire-index-container">
        <% @questionnaires.each do |question| %>
            <div class="each-question">
                <%= question.theme %>
                <% question.questionnaire_items.each do |item| %>
                    <%= item.content %>
                <% end %>
            </div>
        <% end %>
    </div>
</div>
