/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-tagsinput
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";


/* universal */
.text-center {
    text-align: center;
}

.back-container {
    width: 50%;
    margin: 50px auto 100px;
    text-align: center;
    // background-color: rgba(231, 242, 243, 0.535);
    // border-radius: 20px;
    padding: 5px 0;
}

.back-text {
    font-size: 18px;
}

.notes {
    display: inline-block;
    font-size: 12px;
    font-weight: 100;
    color: rgba(63, 64, 64, 0.725);
    margin-top: 15px;
}


/* error_message */
#error_explanation {
    color: red;

    h2 {
        font-size: 18px;
    }
}

#error_explanation > ul > li {
    list-style: none;
}


/* flash_message */
.flash-message {
    width: 50%;
    margin: 30px auto 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    color: rgba(21, 22, 22, 0.865);
    border-radius: 5px;
}

#flash_notice {
    background-color: rgba(235, 246, 247, 0.5);
}

#flash_alert {
    background-color: rgba(244, 138, 138, 0.16);
}



/* header */
.header-border {
    border-bottom: 1px solid rgba(100, 198, 240, 0.3);
}

.header-nav-div {
    border-right: 1px solid rgba(114, 195, 206, 0.2);
}

.inline-li {
    display: inline-block;
    padding: 5px 35px;
}

.header-nav-link {
    font-size: 17px;
}



/* footer */
.footer-border {
    border-top: 1px solid rgba(100, 198, 240, 0.3);
    margin-top: 30px;
    padding: 20px;
}


/* devise */
.devise-container {
    width: 60%;
    margin: 15px auto;
    padding: 20px 0 30px;
    // border: 1px solid rgba(6, 151, 212, 0.3);
    border-radius: 15px;
    box-shadow: 1px 1px 3px rgba(215, 216, 216, 0.5);
    background-color: rgba(243, 245, 245, 0.3);
}

.devise-header {
    margin: 5px 0 20px;
}

.devise-fields {
    margin: 20px 0;
    height: 35px;
}

.field {
    line-height: 35px;
    font-size: 17px;
}

.devise-label {
    font-weight: normal;
}

.devise-field-container {
    padding: 0;
    text-align: left;
}

.devise-field {
    width: 90%;
    margin: 0 auto;
}

.devise-button-field {
    margin: 50px auto 0;
    width: 50%;
}

.devise-button {
    font-size: 20px;
    padding: 10px 50px;
    background-color: rgba(154, 203, 223, 0.009);
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(20, 193, 206, 0.729);
}

.devise-guide {
    padding-top: 20px;
}

/* devise-edit */
.devise-edit-header {
    text-align: center;
    margin: 60px 0 20px;
}

.devise-edit-container {
    background-color: rgba(245, 244, 242, 0.38);
    border-radius: 15px;
    box-shadow: 1px 1px 3px rgba(215, 216, 216, 0.5);
    padding: 5px 0 40px;
}

.devise-edit-form {
    padding: 20px 30px;
    margin-bottom: 30px;

}

.devise-edit-field-div {

}

.devise-edit-label {
    font-weight: normal;
    width: 30%;
}

.devise-edit-field {
    width: 50%;
    margin: 8px 5%;
}

.user-file-field {
    font-size: 16px;
    padding: 15px 10px;
    border: 1px solid rgba(220, 223, 224, 0.943);
    // background-color: rgba(205, 227, 239, 0.793);
}

.tag-field {
    font-size: 16px;
}

#user_current_password {
    width: 100%;
}

.devise-edit-button-field {
    margin: 30px 0 0;
    // margin: 50px auto 0;
    // width: 50%;
    // text-align: center;
}

.devise-edit-button {
    font-size: 20px;
    padding: 10px 50px;
    background-color: rgba(154, 203, 223, 0.009);
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(20, 193, 206, 0.729);
}

/* devise-omniauth */
.omniauth-facebook {
    width: 70%;
    margin: 40px auto;
    padding: 10px 25px;
    background-color: rgba(14, 87, 246, 0.861);
    border-radius: 5px;
}

.omniauth-facebook-link {
    font-size: 18px;
    color: white;
    vertical-align: middle;
}

