
/* 320px */
@media screen and (max-width:320px) {
    .back-container {
        width: 75% !important;
    }

    .root-users-container {
        padding: 0 15px !important;
    }

    .comment-td {
        font-size: 10px !important;
        padding: 3px 1px !important;
    }

    .message-date {
        left: 60% !important;
    }

    .questionnaires-link {
        font-size: 12px !important;
    }

    .question-delete-link {
        font-size: 11px !important;
    }

    .devise-button {
        padding: 10px 15px !important;
        font-size: 15px !important;
    }
}



/*******************************************************************/



/* 375px */
@media screen and (max-width:375px) {
    .index-user {
        height: 300px !important;
        padding: 0 !important;
    }
    .index-media-user {
        padding: 0 !important;
    }
    .index-media-user-image {
        width: 80%;
        height: 100px;
    }

    /* user-profile */
    .profile-label {
        font-size: 11px !important;
    }

    .media-profile-image {
        margin-top: 30px !important;
    }

    /* user-edit */
    .devise-edit-form {
        padding: 20px 10px !important;
    }
    .devise-edit-field {
        font-size: 12px !important;
    }
    .devise-edit-label {
        font-size: 12px;
        font-weight: bold !important;
    }
    .devise-edit-field {
        width: 55% !important;
        height: 30px;
    }
    #user_profile_image {
        width: 100%;
        font-size: 12px;
    }

    /* user-leave */
    .user-leave-container {
        font-size: 13px !important;
        width: 80% !important;
        margin-bottom: 20px;
    }

    .leave-button {
        padding: 8px 25px !important;
    }

    .user-return-container {
        font-size: 13px !important;
        width: 80% !important;
    }

    .return-button {
        padding: 8px 25px !important;
    }

    /* devise-user-page */
    .devise-label {
        font-size: 11px !important;
    }

    /* talk-show */
    .room-name > h3 {
        font-size: 13px;
    }

    /* history */
    #history_age, #history_barometer {
        width: 40% !important;
    }

    /* user-gallery */
    .history-gallery-header {
        width: 95%;
        font-size: 16px;
    }
    .history-gallery {
        width: 95%;
    }
    .history-image-container {
        padding: 0 20px 50px;
    }
    .history-image-container > div:nth-child(1) {
        width: 100%;
    }
    .history-image-container > div:nth-child(1) > div {
        width: 100%;
        float: left;
    }
    .each-history-image {
        width: 100% !important;

    }
    .history-image {
        width: 100%;
        height: 180px;
    }

    /* devise-omniauth */
    .omniauth-facebook-link {
        font-size: 13px !important;
    }
    .omniauth-facebook-image {
        display: none;
    }

    /* about-page */
    .about-tabs {
        width: 100% !important;
    }

    /* questionnaitre */
    .questionnaire-header {
        font-size: 16px !important;
    }

    .questionnaire-theme-index {
        font-size: 14px !important;
    }

    .new-questionnaire-link {
        font-size: 14px !important;
    }


    .questionnaire-each-item-content {
        font-size: 11px !important;
    }

    .question-nest-field {
        margin-top: 18px;
    }

    .questionnaire-item-form > span {
        width: 93% !important;
        text-align: center;
        margin: 0 0 15px 20px;
        font-size: 10px !important;
    }

    .talk-link {
        font-size: 15px !important;
    }

    .talk-begin-button {
        font-size: 15px !important;
    }
}



/*******************************************************************/



/* 425px */
@media screen and (max-width:425px) {
    /* user-profile */ 
    .user-profile {
        width: 95% !important;
    }

    .profile-label {
        display: block !important;
        width: 100% !important;
        margin-bottom: 5px;
    }


    /* history-index-contentA */ 
    .user-history-row > td:nth-child(1) {
        font-size: 7px !important;
        width: 5% !important;
    }
    .user-history-row > td:nth-child(1) > span {
        display:none;
    }
    .user-history-row > td:nth-child(3) {
        width: 11% !important;
        font-size: 10px !important;
    }
    .user-history-row > td:nth-child(4) {
        text-align: center;
    }
    .user-history-row > td:nth-child(5) {
        font-size: 10px !important;
        padding: 0 3px !important;
    }
    /* history-index-contentC */ 
    .user-histories {
        padding: 0 !important;
        border: 0;
        overflow: scroll;
    }
    .history-content-C {
        width: 200% !important;
        height: 330px !important;
    }
    /* add&edit-history */
    #history_history_image {
        width: 100%;
        font-size: 11px;
    }
    
    #history_event {
        font-size: 12px !important;
    }

    .history-field-value > input {
        font-size: 13px !important;
        padding: 5px 8px;
    }

    .nest-field > input:nth-child(3) {
        font-size: 12px !important;
    }
    
    .nest-field > input:nth-child(7) {
        font-size: 12px !important;
    }

    /* hostory-show */
    .history-header {
        width: 82%;
    }
    .history-detail {
        width: 82%;
        margin: 40px auto 60px;
    }
    .history-detail-tr > th, .history-detail-tr > td {
        font-size: 13px;
        padding: 5px;
    }
    .history-detail-tr > th:nth-child(1), .history-detail-tr > td:nth-child(1) {
        width: 30% !important;
    }
    .history-detail-tr > th:nth-child(2), .history-detail-tr > td:nth-child(2) {
        width: 70% !important;
    }
    /* history-show-comments */
    .comment-container {
        width: 88%;
    }

    /* user-profile */
    .profile-edit-container {
        width: 80% !important;
    }

    /* user-edit */
    .devise-edit-button-field {
        text-align: center;
    }

    /* devise-user-page */
    .devise-container {
        width: 100% !important;
    }
    .devise-fields > .field > div:nth-child(1) {
        padding: 0 !important;
    }

    /* talk-index */
    .talking-user > div:nth-child(3) {
        width: 100% !important;
    }
    .talking-user > div:nth-child(3) > span {
        font-size: 12px !important;
    }

    /* talk-show */
    .room-message-container {
        width: 92% !important;
    }
    .media-each-his-message {
        max-width: 150px !important;
        margin-left: 40px !important;
    }
    .current-user-content {
        max-width: 200px !important;
    }

    .talk-back-content {
        width: 80% !important;
    }


    /* about-page */
    .mylife-purpose {
        padding: 40px !important;
    }
    .mylife-purpose-text {
        font-size: 17px !important;
        margin: 0;
        display: inline-block;
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
    }
    .mylife-purpose-text:nth-child(3), .mylife-purpose-text:nth-child(4) {
        height: 600px;
    }
    .mylife-how-container {
    
    }
    .mylife-how-div {
        margin-bottom: 50px;
    }

    /* questionnaire */
    .questionnaire-new-form {
        width: 96% !important;
    }

    .questionnaires-link {
        width: 30% !important;
        font-size: 15px;
        padding: 8px 10px !important;
    }

    .question-search-div {
        margin: 0 !important;
        width: 100% !important;
    }

    #search_categories {
        width: 100% !important;
        margin-bottom: 10px;
    }

    .q-search-btn {
        float: right;
        margin-right: 30px;
    }

    .new-questionnaire-div {
        width: 80% !important;
    }

    /* questionnaire */
    .questionnaire-category-text {
        font-size: 12px !important;
    }

    .question-delete-div {
        width: 90% !important;
    }

    .questionnaire-note {
        width: 90% !important;
    }

    .question-item-label {
        width: 50%;
        display: block;
        margin-bottom: 3px;
        text-align: center !important;
    }

    .note-question {
        font-size: 10px !important;
    }

    .question-nested-fields {
        width: 95% !important;
        margin: 0 auto;
    }

    .question-nested-fields > .row {
        margin: 0;
    }

    .remove-question-item {
        text-align: center !important;
    }

    /* nest-field */
    .links {
        width: 30% !important;
    }

    /* history */
    .talk-room-button-container {
        width: 50% !important;
    }
}



/*******************************************************************/




/* 768px */
@media screen and (max-width:768px) {
    .root-users-container > div {
        width: 100% !important;
    }

    .radio-buttons-media {
        width: 80% !important;
    }

    /* history-index-contetA */
    .user-history-table {
        width: 100%;
        
    }
    .user-history-row > td:nth-child(4) {
        font-size: 13px !important;
    }
    /* histroy-tab */
    .history-tab-row {
        padding: 0 !important;
    }
    .media-history-memory-link {
        margin:30px 0 !important;
        text-align: center;
    }
    .add-history-link {
        width: 50%;
    }
    /* historu-comment */
    .comment-td {
        font-size: 12px;
        padding: 3px 1px !important;
    }
    #comment_body {
        width: 100%;
    }

    /* user-profile */
    .media-profile-image {
        margin-top: 30px;
    }

    /* devise-user-page */
    .devise-label {
        font-size: 13px;
        font-weight: bold !important;
    }

    /* talk-index */
    .talking-user > div:nth-child(1), .talking-user > div:nth-child(2) {
        text-align: center;
    }
    .talking-user > div:nth-child(3) {
        width: 50%;
        margin: 10px auto 0;
    }
    .talking-button-area {
        margin: 30px 0 !important;
        text-align: center;
    }

    /* talk-show */
    #message_content {
        width: 100%;
    }
    .talk-button {
        position: static !important;
    }

    /* about-page */
    .introduction-row {
        display: flex;
        flex-direction:column;
    }
    .introduction-content {
        // width: 100%;
    }
    .introduction-content1 {
        order: 2;
    }
    .introduction-content2 {
        order: 1;
    }


    /* questionnaire */
    .questionnaire-each-item-content {
        padding: 5px 10px;
        // border-top: 1px dashed rgba(119, 116, 116, 0.154);
        border-bottom: 1px dashed rgba(119, 116, 116, 0.154);
    }
}



/*******************************************************************/




/* 1024px */
@media screen and (max-width:1024px) {
    .media-history-new {
        width: 100% !important;
    }

    .animation-area {
        display: none;
    }
    .animation-circles {
        display: none;
        position: static;
    }
    .animation-circles > li {
        display: none;
        position: static;
    } 
    .index-page {
        position: static !important;
    }
    
    .scaleup-history-image {
        transform: none !important;
    }
}