// Place all the styles related to the QuestionnaireItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.max-point-font {
    color:rgba(31, 185, 232, 0.827); 
    font-size:18px;
    line-height: 25px;
}

.all-point {
    margin-left: 8px;
}

.all-point-icon {
    margin-bottom: 8px;
}