// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* about-page */
.about-page {

}

.about-tab-group {
    margin: 20px;
}

.about-tabs {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.about-tab {
    width: 50%;
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.072);
}

#mylife_introduction {

}

#how_to_mylife {

}

.about-tab.is-active-about {
    background-color: rgba(114, 195, 206, 0.2);
}

.about-page-content-group {
    width: 90%;
    margin: 0 auto;
    padding: 0 6% 40px;
}

.about-page-content {
    display: none;
}

.about-page-content.is-show-about {
    display: block;
}


/* mylife-how-to */ 
.mylife-purpose-image {
    padding: 30px 50px;
    text-align: center;
    background-image: url(women-3118387_1280.jpg);
    background-position: bottom left;
    animation: fade-in-main-container 3s linear;
}
.mylife-purpose {
    padding: 30px 50px;
    border-radius: 20px;
}
.mylife-purpose-text {
    letter-spacing: 6px;
    margin: 0 0 35px;
    padding: 10px 15px;
    font-size: 21px;
    font-weight: bold;
    text-shadow: 1px 2px 2px rgba(92, 87, 87, 0.46);
}
.mylife-purpose-text:last-child {
    margin: 0;
}
.mylife-purpose-text:hover {
    animation: hover-main-text 2s ease;
}

.mylife-how-container {
    width: 100% !important;
    animation: popup-howto 2s both ease-out;
    animation-delay: 1.5s;
}

.mylife-how-row {
    padding: 20px;
    background-color: rgba(185, 199, 201, 0.181);
    box-shadow: 0 3px 5px rgba(84, 77, 77, 0.773);
}
.mylife-how-h {
    width: 80%;
    margin: 0 auto 20px;
    text-align: center;
    font-size: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(93, 94, 92, 0.963);
}
.mylife-how-ul {
    padding: 0;
    width: 75%;
    margin: 0 auto;
}
.mylife-how-li {
    padding: 10px 0;
    // text-align: center;
    list-style: none;
}




/* mylife-introduction */
.introduction-row {
    margin-top: 50px;
}

.introduction-header {
    padding: 5px;
    border-bottom: 1px solid rgba(85, 87, 88, 0.508);
}

.introduction-image {
    margin: 20px 10px;
    width: 80%;
    height: 200px;
}


/* tos */
.static-default-container {
    width: 80%;
    margin: 0 auto;
    padding: 30px 20px;
}

.static-terms {

}

.static-privacy {

}



/***************************************************************************/ 
/* animation */ 
@keyframes fade-in-main-container {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes hover-main-text {
    0% {

    }

    10% {
        transform: skewX(1deg);
        color: rgba(241, 123, 184, 0.48);
    }

    20% {
        transform: skewX(3deg);
        color: rgba(227, 85, 235, 0.48);
    }

    30% {
        transform: skewX(5deg);
        color: rgba(155, 82, 229, 0.48);
    }   

    40% {
        transform: skewX(6deg);
        color: rgba(71, 63, 229, 0.48);
    }

    50% {
        transform: skewX(7deg);
        color: rgba(76, 179, 211, 0.501);
    }

    60% {
        transform: skewX(6deg);
        color: rgba(63, 224, 216, 0.48);
    }

    70% {
        transform: skewX(5deg);
        color: rgba(36, 219, 103, 0.48);
    }

    80% {
        transform: skewX(3deg);
        color: rgba(161, 211, 55, 0.48);
    }

    90% {
        transform: skewX(1deg);
        color: rgba(219, 118, 36, 0.48);
    }

    100% {
        transform: skewX(0deg);
        color: black;
    }
}

@keyframes popup-howto {
    0% {
        transform: translateY(1000px);
        opacity: 0;
        border-radius: 100%;
    }

    25% {
        transform: translateY(800px);
        opacity: 0.1;
        border-radius: 75%;
    }

    50% {
        transform: translateY(500px);
        opacity: 0.05;
        border-radius: 50%;
    }

    75% {
        transform: translateY(250px);
        opacity: 0.1;
        border-radius: 25%;
    }

    90% {
        transform: translateY(0);
        opacity: 0.15;
        border-radius: 10%;
    }

    100% {
        transform: translateY(0);
        opacity: 1.0;
        border-radius: 0%;
    }
}
