// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* users-index */
.index-page {
    padding: 20px 30px 50px;
    position: relative;
}

.root-users-container {
    padding: 38px 50px 50px;
}

.index-user {
    padding: 15px;
    text-align: center;
    // margin-right: 15px;
    margin-bottom: 30px;
    // border: 1px solid rgba(0,0,0,0.5);
    border-radius: 15px;
    box-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}

.index-user-name {
    font-size: 18px;
    border-bottom: 1px solid rgba(138, 138, 138, 0.5);
    padding-bottom: 5px;
}

.index-user-image-container {
    padding: 5px 0 15px;
    border-bottom: 1px solid rgba(138, 138, 138, 0.5);
}

.index-user-image {
    border-radius: 5px;
}

.index-user-tags {
    padding-top: 15px;
    padding-bottom: 10px;
}

.index-user-tags > span {
    width: 80%;
    padding: 5px 8px;
    display: block;
    background-color: rgba(241, 240, 226, 0.263);
    border-radius: 5px;
    margin: 0 auto 8px;
    font-size: 13px;
}

.index-user-tags > span:last-child {
    margin: 0 auto;
}


/* users-show */
.user-profile {
    padding: 40px 5px 40px;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 3px;
}

.profile-text {
    margin-top: 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(138, 138, 138, 0.5);
}

.profile-label {
    display: inline-block;
    width: 30%;
    font-size: 16px;
}

.profile-value {
    display: inline-block;
    font-size: 16px;
}

.profile-image-label {
    font-size: 17px;
    margin-bottom: 10px;
}

.profile-image {
    border-radius: 5px;
}

.profile-user-tags {
    padding: 8px 0 0;
}

.profile-user-tag {
    margin-bottom: 5px;
    padding: 5px 8px;
    display: inline-block;
    background-color: rgba(201, 241, 242, 0.5);
    border-radius: 5px;
}

.profile-edit-container {
    width: 30%;
    margin: 90px auto 0;
    text-align: center;
    border-bottom: 1px solid rgba(138, 138, 138, 0.5);
    padding-bottom: 6px;
}

.profile-edit-link {
    font-size: 18px;
}

.warning-container {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid rgba(138, 138, 138, 0.2);
}

.warning-text {
    font-size: 15px;
    color: rgb(228, 145, 68);
}


/* 退会するユーザー */
.leave-user {
    padding: 0 30px 50px;
}

.leave-notes-user {
    width: 40%;
    margin: 15px auto 60px;
    padding: 15px;
    text-align: center;
    border-bottom: 3px solid rgba(138, 138, 138, 0.5);
}

.leave-button {
    padding: 15px 50px;
    background-color: rgba(221, 47, 47, 0.821);
    border-radius: 10px;
    color: white;
    margin-left: 80px;
}

.return-button {
    padding: 15px 30px;
    border-radius: 10px;
    border: 1px solid rgba(138, 138, 138, 0.5);
}

/* プロフィールのリンク（ブックマーク、トーク一覧） */
.user-profile-links {
    padding: 30px 0 15px;
    
}

.user-profile-link {
    font-size: 17px;
}