<header>
    <h2 style="margin:20px 20px;"><%= link_to 'My Life', "/admin" %></h2>
    <h5 style="margin:10px 20px;"><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></h5>
    <hr>
</header>