<footer class="footer-border">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <p>利用規約</p>
            </div>

            <div class="col-md-4 text-center">
                <p><%= link_to '管理者トップページへ', admin_path %></p>
            </div>

            <div class="col-md-4 text-center">
                <p>お問い合わせ</p>
            </div>
        </div>
    </div>

    <hr>

    <p class="text-center">Copyright mylife, All Rights Reserved.</p>
</footer>