<footer class="footer-border">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <p><%= link_to '利用規約', static_pages_tos_path %></p>
            </div>

            <div class="col-md-4 text-center">
                <p><%= link_to 'トップページへ', root_path %></p>
            </div>

            <div class="col-md-4 text-center">
                <p><%= link_to 'プライバシー', static_pages_privacy_path %></p>
            </div>
        </div>
    </div>

    <hr>

    <p class="text-center">Copyright mylife, All Rights Reserved.</p>
</footer>